p {
  margin: 80px;
}

.tooltip {
  position: relative;
  display: inline-block;
  color: brown;
}

.tooltiptext {
  visibility: hidden;
  position: absolute;
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(240, 240, 135);
  color: brown;
  bottom: 100%;
  left: 5%;
  margin-left: -60%;
}

.tooltip:hover span {
  visibility: visible;
}
